<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>hello socket-io</h1>
  <input type="text" name="" placeholder="enter msg " id="">
  <br>
  <br>
  <button>send</button>
  

  <script src="/socket.io/socket.io.js"></script>
  <script>
      var socket = io();
      socket.on('max',(msg)=>{
        console.log(msg);
      })


      // browser se vs code me data 

      document.querySelector("button").addEventListener("click",()=>{
        const message = document.querySelector("input").value
        socket.emit('sony',message)
      })
  </script>
</body>
</html>
